<style>


/* Use a wide full screen for small screens like tablets. */
@media (min-width: 768px) and (max-width:992px) {
    .container {
		width: initial;
        padding-left: 2em;
        padding-right: 2em;        
	}
}

/* --- Plans ---------------------------- */

  @media print {
    .my_planHeader){
    text-align: center;
    color: white;
    padding-top:0.2em;
    padding-bottom:0.2em;
}
.my_planTitle {
    font-size:2em;
    font-weight: bold;
}
.my_planPrice {
    font-size:1.4em;
    font-weight: bold;    
}
.my_planDuration {
    margin-top: -0.6em;
}
} 
@media (max-width: 768px) {
    .my_planTitle {
        font-size:small;
    }    
}

/* --- Features ------------------------- */

  @media print {
    .my_feature {
    line-height:2.8em;   
}
}
  
@media (max-width: 768px) {
    .my_feature {
        text-align: center
    }
 }

  @media print {
    .my_featureRow {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    border: 0.1em solid rgb(163, 163, 163);
}    
}
/* --- Plan 1 --------------------------- */
.my_plan1 {
    background: rgb(224,234,242);
}

.my_planHeader.my_plan1 a {
    background: rgb(72, 109, 139);
    color:white;
}

.my_planHeader.my_plan1 {
    background: rgb(105, 153, 193);
    border-bottom: thick solid rgb(72, 109, 139);
}

/* --- Plan 2 --------------------------- */
.my_plan2 {
    background: rgb(230,235,218);
}

.my_planHeader.my_plan2 a {
    background: rgb(108, 131, 62);
    color:white;
}

.my_planHeader.my_plan2 {
    background: rgb(134, 162, 77);
    border-bottom: thick solid rgb(108, 131, 62);
}

/* --- Plan 3 --------------------------- */
.my_plan3 {
    background: rgb(254,235,212);
}

.my_planHeader.my_plan3 a {
    background: rgb(199, 127, 40);
    color:white;
}

.my_planHeader.my_plan3 {
    background: rgb(253, 161, 49);
    border-bottom: thick solid rgb(199, 127, 40);
}




.my_planFeature {
    text-align: center;
    font-size: 2em;
}

.my_planFeature i.my_check {
    color: green;
}

</style>

<% title("Home Page") %>
<div class="container-fixed">
  <div class="jumbotron">
    <h1 class="h1 class">How To Make Loom Bracelets Without The Kit!</h1>
  </div>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-9 col-sm-offset-4 col-sm-6">
            <div class="row">
                <div class="col-xs-3 my_planHeader my_plan1">
                    <div class="my_planTitle">Basic Loom Class</div>
                    <div class="my_planPrice">$10.00</div>
                    <div class="my_planDuration">per class</div>
                 
                </div>
                <div class="col-xs-3 my_planHeader my_plan2">
                    <div class="my_planTitle">Advanced Loom Class</div>
                    <div class="my_planPrice">$15.00</div>
                    <div class="my_planDuration">per class</div>
              </div>
                <div class="col-xs-3 my_planHeader my_plan3">
                    <div class="my_planTitle">New Class Coming Soon</div>
                    <div class="my_planPrice">TBD</div>
                    <div class="my_planDuration">per class</div>
                </div>    
                </div>
            </div>
        </div>
    </div>
    <div class="row my_featureRow">
        <div class="col-xs-9 col-sm-4 my_feature">
            Learn to create loom bracelets without Kit
        </div>
        <div class="col-xs-9 col-sm-6">
            <div class="row">
                <div class="col-xs-3 col-sm-3 my_planFeature my_plan1">
                    <i class="fa fa-check my_check"></i>
                </div>
                <div class="col-xs-3 col-sm-3 my_planFeature my_plan2">
                    <i class="fa fa-check my_check"></i>
                </div>
                <div class="col-xs-3 col-sm-3 my_planFeature my_plan3">
                    <i class="fa fa-check my_check"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row my_featureRow">
        <div class="col-xs-9 col-sm-4 my_feature">
            1 Pack of looms
        </div>
        <div class="col-xs-9 col-sm-6">
            <div class="row">
                <div class="col-xs-3 col-sm-3 my_planFeature my_plan1">
                    <i class="fa fa-check my_check"></i>
                </div>
                <div class="col-xs-3 col-sm-3 my_planFeature my_plan2">
                    <i class="fa fa-check my_check"></i>
                </div>
              <div class="col-xs-3 col-sm-3 my_planFeature my_plan3"></div>
            </div>
        </div>
    </div>
    <div class="row my_featureRow">
        <div class="col-xs-9 col-sm-4 my_feature">
            1 Bonus packs of looms
        </div>
        <div class="col-xs-9 col-sm-6">
            <div class="row">
                <div class="col-xs-3 col-sm-3 my_planFeature my_plan2">
                    <i class="fa"></i>
                </div>
              <div class="col-xs-3 col-sm-3 my_planFeature my_plan2">
                    <i class="fa fa-check my_check"></i>
                </div>
              <div class="col-xs-3 col-sm-3 my_planFeature my_plan3"></div>
            </div>
        </div>
    </div>
    <div class="row my_featureRow">
        <div class="col-xs-9 col-sm-4 my_feature">
            Learn Starburst Style Bracelet
        </div>
        <div class="col-xs-9 col-sm-6">
            <div class="row">
                <div class="col-xs-3 col-sm-3 my_planFeature my_plan2">
                    <i class="fa"></i>
                </div>
              <div class="col-xs-3 col-sm-3 my_planFeature my_plan2">
                    <i class="fa fa-check my_check"></i>
                </div>
              <div class="col-xs-3 col-sm-3 my_planFeature my_plan3"></div>
            </div>
        </div>
    </div>     
</div>

