<h1>The Blog!</h1>
<div class="container"> 
  <div class="row">
    <div class="col-md-1">
  <% @posts.each do |post| %>
      <h2><%= post.title %></h2>
      <P><%= post.body %></p>
  <% end %>
    </div>
  </div>
</div>
