<h1>The Blog!</h1>
<div class="container"> 
  <div class="row">
    <div class="col-md-1">
      <% @posts.each do |post| %>
      <h2><%= link_to post.title, post_path(post.slug) %></h2>
      <p><%= raw (post.body) %></p>
  <% end %>
    </div>
  </div>
</div>
